.navbar {
	text-align: center;
}

.navbarItem {
	color: blue;
	margin-left: 5%;
	margin-right: 5%;
}

html {
	background-image: url("../images/background_wall.png");
	border: 15px ridge #707070;
	margin: 10px;
	box-shadow: 5px 5px 15px;
}

body {
	background: white;
	padding: 20px;
	margin: 0px;
	box-shadow: inset 5px 5px 5px;
}

@include headings {
	font-family: "Permanent Marker", sans-serif;
	font-weight: 400;
}

p,a {
	font-family: "Gloria Hallelujah", sans-serif;
}

h2 {
	color: green;
	text-decoration: underline;
}
