.navbar {
	text-align: center;
}

.navbarItem {
	@include navbarBase;
}

.navbarCurrentItem {
	@include navbarBase;
	border: 2px solid blue;
	border-radius: 50px;
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
}

html {
	background-image: url("../images/SITE/background_wall.png");
}

body {
	background: white;
	border: 15px ridge #707070;
	padding: 20px;
	margin: 10px;
	box-shadow: 
		5px 5px 15px,
		inset 5px 5px 5px;
}

@include headings {
	font-family: "Permanent Marker", sans-serif;
	font-weight: 400;
}

p,a,li {
	font-family: "Gloria Hallelujah", sans-serif;
}

code {
	background-color: #E0E0E0;
	padding: 3px;
}

h2 {
	color: green;
	text-decoration: underline;
}
