---
---
@mixin headings {
	h1, h2, h3, h4, h5, h6 {
		@content;
	}
}
@mixin navbarBase {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 10px;
	padding-right: 10px;
	color: blue;
}
@import "main";
